* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading-bar {
    background-color: rgb(85, 85, 85);
    width: 100%;
}

.loading-bar__item {
    width: 0%;
    height: 3px;
    background-color: red;
}

.buttons-container {
    width: 100%;
    height: calc(100vh - 3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 35px;
    margin: 0 3rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: white;
    color: rgb(24, 24, 24);
    border: 1px solid red;
    outline: none;
}

